@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #88effd;
}

.myAlbums {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
}

.albumCard {
  display: inline-flex;
}

.albumCardUserImage {
  border-radius: 50%;
  width: 45px;
}

.albumName {
  font-style: italic;
  font-size: smallerß;
}

.cardButtons {
  display: flex;
  align-self: flex-end;

}

.artistName {
  text-decoration: underline;
}
