@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Orelega+One&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Orelega One', cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff6ea;
  background: url('/images/background.jpg') no-repeat center; 
}

.sign-in {
  background-color: #fff6ea;
  color: brown;
  margin-top: 10px;
  border-color: brown;
}

.sign-in:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.signOut-btn {
  background-color: #fff6ea;
}

.logo {
  border-radius: 50%;
}

.myAlbums {
  background-color: #fff6ea;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
}

.wishlist-container {
  background-color: #fff6ea;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 60px;
}

.wishlist-title {
  background-color: #fff6ea;
  margin-top: 5px;
  padding: 5px;
  width: fit-content;
  border-radius: 5%;
}

.albumCard {
  display: inline-block;
}

.cardBack {
  display: flex;
  flex-direction: column;
}

.albumCardUserImage {
  border-radius: 50%;
  width: 50px;
  margin-top: 4px;
}

.albumName {
  font-size: smaller;
}

.search {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 350px;
}

.sort {
  width: 350px;
}

.cardButtons {
  display: flex;
  align-self: flex-end;
  justify-self: end;
  padding: 3px;
}

.artistName {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
}

.communityPage {
  display: flex;
}


.navbar {
  background-color: #fff6ea;
  color: black;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Orelega One', cursive;
}

.userCard {
  background-color: #fff6ea;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 350px;
  margin-right: 10px;
}

.userCardContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  height: 650px;
}  

.modalHeader {
  background-color: #fff6ea;
}

.tracklist-modal {
  background-color: #fff6ea;
}

.showCard {
  display: flex;
  background-color: #fff6ea;
  margin-bottom: 8px;
  width: 300px;
}

.showCardContainer {
  margin-left: 30px;
  margin-top: 4px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  height: 650px;
}

.tradeCard {
  display: inline-block;
  background-color: #fff6ea;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

.tradeRequestContainer {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.welcome-message {
  background-color: #fff6ea;
  color: black;
  padding: 10px;
  
}

.album-owned {
  background-color: #fff6ea;
  display: flex;
  justify-content: center;
  align-content: center;
}

.showFormContainer {
  margin-top: 4px;
  margin-left: 30px;
  margin-right: 30 px;
}

.ticket-icon {
  margin-right: 2px;
}

.play-album-btn {
  margin-top: 6px;
  background-color: #fff6ea;
  color: black;
  border-color: #fff6ea;
}

.play-album-btn:hover {
  background-color: brown;
  color: white;
  border-color: #fff6ea;
}

.add-to-wishlist-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown; 
}

.add-to-wishlist-btn:hover {
  background-color: brown;
  color: white;
  border-color: #fff6ea; 
}

.remove-wishlist-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;  
}

.remove-wishlist-btn:hover {
  background-color: brown;
}

.trade-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;   
}

.trade-btn:hover {
  background-color: brown;
}

.trackList-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;   
}

.trackList-btn:hover {
  background-color: brown;
}

.view-collection-btn:hover {
  background-color: brown;
}

.shows-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;
}

.shows-btn:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.save-to-collection-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;
}

.save-to-collection-btn:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.rescind-trade-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;
}

.add-album-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown; 
}

.add-album-btn:hover {
  background-color: brown;
  border-color: #fff6ea; 
}

.rescind-trade-btn:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.trade-btn-container {
  display: flex;
  flex-flow: row;
  margin: 5px;
  justify-content: center;
  padding-bottom: 10px;
}

.approve-trade-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;
  margin-right: 25px;
}

.approve-trade-btn:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.deny-trade-btn {
  background-color: #fff6ea;
  color: black;
  border-color: brown;
  width: 140px;
}

.deny-trade-btn:hover {
  background-color: brown;
  border-color: #fff6ea;
}

.preview-player {
  margin-top: 150px;
}

.tracklist-track:hover {
  cursor: pointer;
  color: gray;
}

.noTradesText {
  display: flex;
  font-size: x-large;
  height: 90vh;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.tText {
  background-color: #fff6ea;
  padding: 20px;
}
